node_modules/
.env
*.log
__pycache__/
*.pyc
.vs/
Debug/
Release/
*.exe
*.dll
.venv/
venv/
*.class
.angular/
env/
.next/
build/
library
library.exe
library-test.exe
library.txt
library_temp.txt
users.txt
history/*
!history/.gitkeep
